
#azul {
    background-color: rgb(141, 207, 208);
}

#verde_intenso {
    background-color: rgb(35, 84, 35);
}

#amarillo {
    background-color: rgb(197, 197, 133);
}

#rojo {
    background-color: rgb(185, 119, 119);
}

#verde {
    background-color: rgb(141, 198, 141);
}

#azul_intenso {
    background-color: rgb(87, 87, 183);
}